[submodule "mail2url"]
	path = mail2url
	url = git@github.com:bzzeke/docker-mail2url.git
[submodule "rsyslog"]
	path = rsyslog
	url = git@github.com:bzzeke/docker-rsyslog.git
[submodule "homekit2mqtt"]
	path = homekit2mqtt
	url = git@github.com:bzzeke/docker-homekit2mqtt.git
[submodule "homebridge"]
	path = homebridge
	url = git@github.com:bzzeke/docker-homebridge.git
[submodule "bot"]
	path = bot
	url = git@github.com:bzzeke/docker-web.git

